<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard - ShareX-Server</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="shortcut icon" href="/assets/favicon.png" />

  <!-- meta tags -->
  <meta content="Dashboard [WIP]" property="og:title">
  <!-- meta tags needed -->
</head>

<body>
  <%- include('../parts/navbar.ejs') %>

  <div class="title">
    <h2>Dashboard</h2>
  </div>

  <% if (page === "password") {%>
    <%- include('../parts/dashboard/password.ejs') %>
  <% } else if (page === "files") {%>
    <%- include('../parts/dashboard/files.ejs') %>
  <% } else if (page === "account") {%>
    <%- include('../parts/dashboard/account.ejs') %>
  <% } else if (page === "username") {%>
    <%- include('../parts/dashboard/username.ejs') %>
  <% } else if (page === "subdomain") {%>
    <%- include('../parts/dashboard/subdomain.ejs') %>
  <% } else if (page === "domain") {%>
    <%- include('../parts/dashboard/domain.ejs') %>
  <% } %>

  <div class="userInfo">
    <div class="userDiv">
      <div class="username">
        <a>Name: <%= user.name %></a><br>
      </div>
      <div class="user">
        <a>Key: <%= user.key %></a><br>
        <a>Date Created: <%= new Date(user.createdAt).toLocaleString() %></a><br>
        <a>Uploads: <%= user.uploads.toString() %></a><br>
        <a>Redirects: <%= user.redirects.toString() %></a><br>
        <a>Domain: <%= user.domain %></a><br>
        <a>Subdomain: <%= user.subdomain %></a><br>
      </div>
    </div>
    <div class="pages">
      <a class="nextPage" href="?page=password">Change Password</a>
      <a class="nextPage" href="?page=username">Change Username</a>
      <a class="nextPage" href="?page=subdomain">Change Subdomain</a>
    </div><br>
    <div class="pages">
      <a class="nextPage" href="?page=files">Delete All Files</a>
      <a class="nextPage" href="?page=account">Delete Account</a>
      <a class="nextPage" target="_blank" href="/files/download">Download Files</a>
    </div><br>
    <div class="pages">
      <a class="nextPage" href="?page=domain">Change Domain</a>
    </div>
  </div>
  <% if (!page) { %>
  <% if (error) { %>
  <div class="errorDiv">
    <a class="error"><%= error %></a>
  </div>
  <% } else if (success) { %>
  <div class="successDiv">
    <a class="success"><%= success %></a>
  </div>
  <% } %>
  <% } %>

</body>

</html>